<?xml version="1.0"?>
<config>
    <modules>
        <GoSquared_LiveStats>
            <version>0.1.0</version>
        </GoSquared_LiveStats>
    </modules>
    <frontend>
        <routers>
            <livestats>
                <use>standard</use>
                <args>
                    <module>GoSquared_LiveStats</module>
                    <frontName>livestats</frontName>
                </args>
            </livestats>
        </routers>
        <layout>
            <updates>
                <livestats>
                    <file>livestats.xml</file>
                </livestats>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<livestats>
				<use>admin</use>
				<args>
					<module>GoSquared_LiveStats</module>
					<frontName>livestats</frontName>
				</args>
			</livestats>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<livestats module="livestats">
				<title>LiveStats</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="livestats">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>livestats/adminhtml_livestats</action>
					</items>
				</children>
			</livestats>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<GoSquared_LiveStats>
							<title>LiveStats Module</title>
							<sort_order>10</sort_order>
						</GoSquared_LiveStats>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<livestats>
					<file>livestats.xml</file>
				</livestats>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <livestats>
                <class>GoSquared_LiveStats_Model</class>
                <resourceModel>livestats_mysql4</resourceModel>
            </livestats>
            <livestats_mysql4>
                <class>GoSquared_LiveStats_Model_Mysql4</class>
                <entities>
                    <livestats>
                        <table>livestats</table>
                    </livestats>
                </entities>
            </livestats_mysql4>
        </models>
        <resources>
            <livestats_setup>
                <setup>
                    <module>GoSquared_LiveStats</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </livestats_setup>
            <livestats_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </livestats_write>
            <livestats_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </livestats_read>
        </resources>
        <blocks>
            <livestats>
                <class>GoSquared_LiveStats_Block</class>
            </livestats>
        </blocks>
        <helpers>
            <livestats>
                <class>GoSquared_LiveStats_Helper</class>
            </livestats>
        </helpers>
    </global>
</config>